---
import Container from "@components/container.astro";
import HeadingTitle from "@components/ui/heading-title.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import imageAboutUs from "assets/about-us.jpg";
import { Image } from "astro:assets";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class="bg-secondary py-7 md:py-10">
  <Container>
    <HeadingTitle title={t("aboutUs.title")} class="text-primary" />
    <div class="mt-5 flex flex-col gap-5 md:flex-row md:gap-7 lg:gap-14">
      <div
        class="border-b-2 border-dashed border-body-dark pb-5 text-justify text-body-dark md:w-1/2 lg:w-3/5"
      >
        {t("aboutUs.description")}
      </div>
      <div class="flex-1">
        <Image src={imageAboutUs} alt="AEAS" class="rounded-2xl" />
      </div>
    </div>
  </Container>
</div>
