---
import HeadingTitle from "@components/ui/heading-title.astro";
import imageHeadlineSm from "assets/headline-sm.png";
import imageHeadline from "assets/headline.png";
import { Image } from "astro:assets";
---

<div class="py-3">
  <Image
    src={imageHeadline}
    alt="The Australian School"
    class="hidden md:block"
  />
  <Image
    src={imageHeadlineSm}
    alt="The Australian School"
    class="block md:hidden"
  />
  <div class="mt-5 text-center">
    <HeadingTitle
      title="The Australian School"
      class="!text-2xl text-primary md:!text-3xl lg:!text-4xl"
    />
    <HeadingTitle
      title="Information day 2024"
      class="!text-2xl text-secondary md:!text-3xl lg:!text-4xl"
    />
  </div>
</div>
