---
import Container from "@components/container.astro";
import HeadingTitle from "@components/ui/heading-title.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import logoBeaconhill from "assets/schools/beaconhill.jpg";
import logoCanberra from "assets/schools/canberra.jpg";
import logoElite from "assets/schools/elite.jpg";
import logoKnox from "assets/schools/knox.jpg";
import logoMelbourne from "assets/schools/melbourne.jpg";
import logoMoreton from "assets/schools/moreton.jpg";
import logoPlc from "assets/schools/plc.jpg";
import logoScotch from "assets/schools/scotch.jpg";
import logoStephen from "assets/schools/stephen.jpg";
import logoWesley from "assets/schools/wesley.jpg";
import { Image } from "astro:assets";

const t = useTranslations(getLangFromUrl(Astro.url));

const schools = [
  {
    name: "Beaconhills Colledge",
    logo: logoBeaconhill,
  },
  {
    name: "Canberra Grammar School",
    logo: logoCanberra,
  },
  {
    name: "Elite College",
    logo: logoElite,
  },
  {
    name: "Melbourne Girls Grammar",
    logo: logoMelbourne,
  },
  {
    name: "Moreton Bay",
    logo: logoMoreton,
  },
  {
    name: "PLC",
    logo: logoPlc,
  },
  {
    name: "Scotch College",
    logo: logoScotch,
  },
  {
    name: "St Stephen's School",
    logo: logoStephen,
  },
  {
    name: "The Knox School",
    logo: logoKnox,
  },
  {
    name: "Wesley Collede",
    logo: logoWesley,
  },
];
---

<div class="py-7 md:py-10">
  <Container>
    <HeadingTitle title={t("school.title")} class="text-center text-primary" />
    <div class="mt-5 flex flex-wrap justify-center">
      {
        schools.map((item) => (
          <div class="w-1/2 p-3 md:w-1/3 lg:w-1/5">
            <Image
              src={item.logo}
              alt={item.name}
              width={130}
              height={130}
              class="mx-auto"
            />
          </div>
        ))
      }
    </div>
  </Container>
</div>
