---
import Link from "@components/ui/link.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { REGISTER_LINK } from "@constants/app";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class:list={["fixed bottom-0 right-0 z-10 m-4", className]}>
  <Link
    href={REGISTER_LINK}
    target="_BLANK"
    size="lg"
    style="secondary"
    class="!bg-[#12264a] !px-12 transition-colors duration-300 ease-in-out hover:!bg-[#ef3a42]"
  >
    {t("button.register")}
  </Link>
</div>
